*{
  margin: 0px;
  padding: 0px;
  /* font-family: Verdana, Tahoma, sans-serif; */
  font-family: Georgia, 'Times New Roman', Times, serif;
  behavior: scroll;
  
}

nav ul li a:hover{
  border-bottom:5px solid rgb(0, 255, 187);
  transition: 0.5s;
}

.logo{
  width: 90px;
  height: 70px;
  border-radius: 30px;
  margin: 10px 0;
}

/* main */
.product_heading{
  margin-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  border: 2px solid gray;
  text-align: center;
  font-weight: 700;
  line-height: normal;
  border-radius: 6px;
  letter-spacing: 1.5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.h1{
  margin-top: -20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  box-shadow: 0 3px 0px rgb(0 0 0 / 0.1);
}
.main_content{
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 40px;
}

.cards{
  margin: 10px;
  text-align: center;
  width: 350px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;

}
.main_image{
  margin: 5px;
  width: 320px;
  height: 250px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;

}
.main_image:hover{
  /* zoom: 1.; */
  width: 330px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(78, 78, 129, 1);
}

.main_h2{
  margin: 5px;
  padding: 5px;
  font-weight: 800;
  font-size: 17px;
  text-align: center;
}
.main_h4{
  margin-top: 20px;
  font-size: 15px;
  font-weight: 700;
  text-align: center;
}
.main_btn{
  /* border: 2px solid whitebor; */
  margin-bottom: 10px;
  border: 2px solid #064f88;
  background-color: #f1eeee;
  padding: 10px 100px;
  border-radius: 8px;
}
.main_btn:hover{
  background-color: #064f88;
  color: white;
  transform: 0.2s;
  /* border-bottom: 2px solid red; */
}
.main_btn::after{
  color: white;
  transform: 0.2s;
  /* border-bottom: 2px solid red; */
}

nav ul li >a {
  color: white !important;
}
nav ul li >a:hover {
  background: #064f88 !important;
}
.nav_bg{
  
  background: #064f88 !important;
}

/* main */

/* footer */
footer{
  background: #064f88;
  color: white;
  /* margin-bottom: 2; */
  
}
.containers{
  /* margin-top: 10px; */
  padding-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.f1{
  cursor: pointer;
  padding: 0 05px;
  letter-spacing: 10px;
}

.f2{
  display: flex;
  align-items: center;
  padding: 0 20px;

}
.f2 h1{
  font-size: 26px;
  text-align: center;
  padding-left: 10px;
}
.f3 input{
  padding: 5px 20px;
}
.f3 button{
  background-color: yellow;
  border-radius: 5px;
  padding: 5px 25px;
}
.f12{
  /* display: flex; */
  font-size: 30px;
  font-weight: 500;
}
.f12:hover{
  font-size: 35px;
  cursor: pointer;
  border-bottom: 5px solid rgb(255, 47, 0);
}

.container2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 15px 10px;
  padding: 0 20px;
  justify-content: space-evenly;
  margin-top: 50px;
}
.h1{
  font-size: 25px;
  text-align: center;
}
div p{
  margin-top: 10px;
  width: 220px;
  font-size: 12px;
}
.p{
  
  font-size: 12px;
}
.icon{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon2{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.ff{
  padding: 0 20px;
  margin-top: -05px;
}

.ul{
  margin-top: 20px;

}
.ul li{
  list-style: none;
  line-height: 30px;
  font-size: 13px;
  font-weight: 700;
}
.ul li a{
  text-decoration: none;
  color: rgb(251, 251, 251);
}
.ul li a:hover{
  font-weight: 700;
  border-bottom: 3px solid rgb(251, 251, 251);;
}
/* .p{
  font-size:17px;
} */

.container3{
  /* width: 100%; */
  margin-top: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.copy_right{
  width: 440px;
  font-size: 15px;
  letter-spacing: 0.5px;
}
.f_image{
  width: 350px;
  height: 70px;
}
.c2_image{
  width: 220px;
  height: 100px;
}
/* footer */

/* About  */
.main_about{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 5px 0px;
  /* width: 100%; */
}
.about_para{
  font-size: 13px;
  width: 100%;
}
.about_ul{
  display: flex; 
  margin:  0px;
  justify-content: flex-start;
  /* flex-wrap: wrap; */
  /* justify-content: center; */
}
.about_li{
  list-style: none;
  margin: 5px auto;

}
.about_li a{
  text-decoration: none;
  color: #064f88;
  border-bottom: 2px solid #064f88 ;
}

.c_contact{
  margin-left: 150px;
}
.contact_us{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  position: relative;
  /* behavior: inherit; */

}
.c_form{
  /* position: inherit; */
  flex: 2;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.c_p{
  width: 100%;
  letter-spacing: 2px;
  font-size: 20px;
  text-align: center;
  font-weight:600;
  border-bottom: 2px solid rgb(0 0 0 / 0.2) ;
}

.c_card{
  /* position: fixed; */
  margin: 10px;
  padding: 10px;
  height: 50%;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 5px;
}
.c_card p{
  font-size: 14px;
  /* text-align: initial; */
}
.c_h2{
  border-bottom: 2px solid rgb(0 0 0 / 0.2) ;
  letter-spacing: 1.5px;
  margin: 10px auto;
}
.c_btn{
  padding: 8px 160px !important;
  background: #2b3e5e !important;
}
.c_btn:hover{
  background: #064f88 !important;

}


/* About  */

/* Responsive Section */

/* card */
@media screen and (max-width:1200px) {

.cards{
  margin: 10px;
  text-align: center;
  width: 430px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 3px;

}
.main_image{
  margin: 5px;
  width: 410px;
  height: 250px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;

}
.main_image:hover{
  width: 420px;
  cursor: pointer;
  box-shadow: 0 5px 15px rgba(78, 78, 129, 1);;
}

.main_h2{
  margin: 5px;
  padding: 5px;
  font-weight: 800;
  font-size: 21px;
  text-align: center;
}
.main_h4{
  margin-top: 20px;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
}

.main_btn{
  margin-bottom: 10px;
  border: 2px solid rgb(225, 190, 250);
  background-color: rgb(200,168, 217);
  padding: 10px 140px;
}
.main_btn:hover{
  background-color: blue;
  color: white;
  transform: 0.2s;

}
.main_btn::after{
  background-color: blue;
  color: white;
  transform: 0.2s;
}

/* Footer */
.containers{
  padding-top: 30px;
}
.f1{
  cursor: pointer;
  padding: 0 05px;
  letter-spacing: 5px;
}

.f2{
  display: flex;
  align-items: center;
  padding: 0 10px;

}
.f2 h1{
  font-size: 20px;
  text-align: center;
  padding-left: 10px;
}
.f3 input{
  padding: 5px 15px;
}
.f3 button{
  background-color: yellow;
  border-radius: 5px;
  padding: 5px 15px;
}

.h1{
  font-size: 17px;
  text-align: center;
}
.container2{
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}
div p{
  margin-top: 10px;
  font-size: 11px;
  width: 160px;
  word-wrap: normal;
  font-weight: 600;
  /* text-align: justify; */
}
.p{
  
  font-size: 11px;
  font-weight: 600;
}

.ff{
  
  padding: 0 20px;
  margin-top: -05px;
}

.ul{
  margin-top: 20px;

}
.ul li{
  list-style: none;
  line-height: 25px;
  font-size: 12px;
  font-weight: 600;
}
.ul li a{
  text-decoration: none;
  color: black;
}
.container3{
  justify-content: center;
  text-align: center;
}

.copy_right{
  width: 300px;
  font-size: 9px;
  font-weight: 900;
  margin: 0 auto;
  /* letter-spacing: 0.5px; */
}
.f_image{
  width: 300px;
  height: 110px;
}

}

/* 768  & 990 */
@media  screen and (min-device-width: 768px) and (max-device-width: 995px) {
 
  .cards{
    margin: 10px;
    text-align: center;
    width: 320px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
  
  }
  .main_image{
    margin: 5px;
    width: 290px;
    height: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
  
  }
  .main_image:hover{
    width: 300px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(78, 78, 129, 1);;
  }
  
  .main_h2{
    margin: 5px;
    padding: 5px;
    font-weight: 800;
    font-size: 20px;
    text-align: center;
  }
  .main_h4{
    margin-top: 20px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
  }
  
  .main_btn{
    margin-bottom: 10px;
    /* position: fixed; */
    border: 2px solid rgb(225, 190, 250);
    background-color: rgb(200,168, 217);
    padding: 10px 90px;
  }
  .main_btn:hover{
    background-color: blue;
    color: white;
    transform: 0.2s;
 }

  
  /* Footer */
  .containers{
    padding-top: 30px;
  }
  .f1{
    cursor: pointer;
    padding: 0 05px;
    letter-spacing: 3px;
    font-size: 20px !important;
  }
  
  .f2{
    display: flex;
    align-items: center;
    padding: 0 4px;
    font-size: 25px;
    
  }
  .f2 h1{
    font-size: 28px;
    text-align: center;
  }
  .f3{
    margin: 0 auto;
  }
  .f3 input{
    padding: 12px 45px;
    margin-top: 30px;
    border-radius: 10px;
    /* margin-left: 10px; */
  }
  .f3 button{
    margin-top: 10px;
    margin-left: 10px;
    background-color: yellow;
    border-radius: 5px;
    padding: 12px 50px;
    border-radius: 10px;
  }

  .f12{
    font-size: 40px;
    font-weight: 500;
  }
  .f12:hover{
    font-size: 45px;
    cursor: pointer;
    border-bottom: 5px solid rgb(255, 47, 0);
  }
  
  .container2{
    display: flex;
    /* flex-direction: ; */
    flex-wrap: wrap;
    margin: 15px 10px;
    padding: 0 10px;
    justify-content: space-around;
    margin-top: 20px;
  }
  .h1{
    font-size: 45px !important;
    text-align: center;
  }
  div p{
    margin-top: 10px;
    width: 200px;
    font-size: 14px;
  }
  .icon{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .icon2{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .ff{
    padding: 0 20px;
    margin-top: -05px;
  }
  
  .ul{
    margin-top: 20px;
  
  }
  .ul li{
    list-style: none;
    line-height: 25px;
    font-size: 14px;
  }
  .ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .p{
    font-size: 14px;
  }

  .container3{
    justify-content: center;
    text-align: center;
  }
  
  .copy_right{
    width: 250px;
    font-size: 7px;
    font-weight: 900;
    margin: 0 auto;
    /* letter-spacing: 0.5px; */
  }
  .f_image{
    width:170px;
    height: 100px;
  }

  /* ABOUT & CONTACT */
  
  .c_card p{
    font-size: 14px;
    letter-spacing: 2PX;
  
  }
  .c_btn{
    padding: 8px 70px !important;
    background: #2b3e5e !important;
  }

}

/* 524 & 768 */
@media  screen and (min-device-width: 524px) and (max-device-width: 767px) {

  .cards{
    margin: 10px auto;
    text-align: center;
    width: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
  
  }
  .main_image{
    margin: 5px;
    width: 230px;
    height: 250px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
  
  }
  .main_image:hover{
    width: 240px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(78, 78, 129, 1);;
  }
  
  .main_h2{
    margin: 5px;
    padding: 5px;
    font-weight: 800;
    font-size: 17px;
    text-align: center;
  }
  .main_h4{
    margin-top: 20px;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
  }
  
  .main_btn{
    margin-bottom: 10px;
    /* position: fixed; */
    border: 2px solid rgb(225, 190, 250);
    background-color: rgb(200,168, 217);
    padding: 10px 60px;
  }
  .main_btn:hover{
    background-color: blue;
    color: white;
    transform: 0.2s;
 }
  .main_btn::after{
    background-color: blue;
    color: white;
    transform: 0.2s;
  }
  
  /* Footer */
 .f1{
    margin: 10px  auto;
    cursor: pointer;
    padding: 0 05px;
    letter-spacing: 3px;
  }
  .f2{
    margin: 10px 0;
  }
  
  .f2 h1{
    font-size: 30px;
  }
  .f2,.f2s{
    margin-left: 70px;
    font-size: 0px !important;
  }
  .f3{
    margin: 0 auto;
  }
  .f3 input{
    padding: 12px 40px;
    margin-top: 10px;
    border-radius: 10px;
  }
  .f3 button{
    margin-top: 10px;
    margin-left: 10px;
    background-color: yellow;
    border-radius: 5px;
    padding: 12px 40px;
    border-radius: 10px;
  }

  .f12{
    font-size: 60px;
    font-weight: 500;
    margin-top: 0px;
  }
  .f12:hover{
    font-size: 45px;
    cursor: pointer;
    border-bottom: 5px solid rgb(255, 47, 0);
  }

  div .h1{
    font-size: 28px !important;
    margin-top: 20px;
    font-weight: 600;
    margin-left: 05PX;
    /* text-align: center; */
  }
  div p{
    margin-top: 10px;
    width: 180px;
    font-size: 15px;
}
  
  .ff{
    padding: 0 20px;
    margin-top: -05px;
  }
  
  .ul{
    margin-top: 20px;
  
  }
  .ul li{
    list-style: none;
    line-height: 25px;
    font-size: 15px;
  }
  .ul li a{
    text-decoration: none;
    color: rgb(255, 251, 251);
  }
  .p{
    font-size: 15px;

  }

  .container3{
    justify-content: center;
    text-align: center;
  }

  .copy_right{
    width: 300px;
    font-size: 9px;
    font-weight: bolder;
    margin: 0 auto;
    /* letter-spacing: 0.5px; */
  }
  .f_image{
    width: 300px;
    height: 110px;
  }

  /* ABOUT & CONTACT */
  .contact_us{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between ;
}
  .c_card p{
    font-size: 13px;

  }
  .c_h2{
    font-size: 17px;
    font-weight: bold;
    letter-spacing: 1.5px;
  }
  .c_btn{
  padding: 8px 60px !important;
  background: #2b3e5e !important;
}
.c_p{
  width: 100%;
  font-weight: bold;
  font-size: 17px;
}
.c_form{

  flex: 1;

}

  
}

/* 438 & 523 */
@media  screen and (min-device-width: 438px) and (max-device-width: 523px) {

  .cards{
    margin: 10px auto;
    text-align: center;
    width: 370px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
  
  }
  .main_image{
    margin: 5px;
    width: 350px;
    height: 250px;
    margin: 10px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
  
  }
  .main_image:hover{
    width: 360px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(78, 78, 129, 1);;
  }
  
  .main_btn{
    margin-bottom: 10px;
    border: 2px solid rgb(225, 190, 250);
    background-color: rgb(200,168, 217);
    padding: 10px 100px;
  }
  .main_btn:hover{
    background-color: blue;
    color: white;
    transform: 0.2s;
 }
  .main_btn::after{
    background-color: blue;
    color: white;
    transform: 0.2s;
  }
  
  /* Footer */
 .f1{
    margin: 10px  auto;
    cursor: pointer;
    padding: 0 05px;
    letter-spacing: 3px;
    /* font-size: 40px !important; */
  }
  .f2{
    margin: 10px;
  }

  .f2 h1{
    font-size: 22px;
    font-weight: 500;
    /* margin-left: -50px; */
  }
  .f2,.f2s{
    margin-left: 50px;
    font-size: 0px !important;
  }
  .f3{
    margin: 0 auto;
  }
  .f3 input{
    padding: 12px 35px;
    margin-top: 10px;
    border-radius: 10px;
    /* margin-left: 10px; */
  }
  .f3 button{
    margin-top: 10px;
    margin-left: 10px;
    background-color: yellow;
    border-radius: 5px;
    padding: 12px 30px;
    border-radius: 10px;
  }

  .f12{
    font-size: 35px;
    font-weight: 500;
    margin-top: 0px;
  }
  .f12:hover{
    font-size: 40px;
    cursor: pointer;
    border-bottom: 5px solid rgb(255, 47, 0);
  }

  div .h1{
    font-size: 22px !important;
    margin-top: 20px;
    font-weight: 600;
    margin-left: 05PX;
    /* text-align: center; */
  }
  div p{
    margin-top: 10px;
    width: 180px;
    font-size: 12px;
}
.c2_image{
  width: 170px;
  height: 60px;
  border-radius: 10px;
}
  
  .ff{
    padding: 0 20px;
    margin-top: -05px;
  }
  
  .ul{
    margin-top: 20px;
  
  }
  .ul li{
    list-style: none;
    line-height: 25px;
    font-size: 13px;
  }
  .ul li a{
    text-decoration: none;
    color: rgb(239, 224, 224);
  }
  .p{
    font-size: 12px;

  }

  .container3{
    justify-content: center;
    text-align: center;
  }

  .copy_right{
    width: 300px;
    font-size: 9px;
    font-weight: bolder;
    margin: 0 auto;
    /* letter-spacing: 0.5px; */
  }
  .f_image{
    width: 300px;
    height: 110px;
  }

  /* ABOUT & CONTACT */
  .c_card{
    padding: 10px;
    width: 100%;
    height: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
  }

}

/* 438 & 523 */

/* 432 & 330 */
@media  screen and (max-device-width: 438px) and (min-device-width: 330px) {

  .cards{
    margin: 10px auto;
    text-align: center;
    width: 340px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
  
  }
  .main_image{
    margin: 5px;
    width: 320px;
    height: 250px;
    margin: 10px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
  
  }
  .main_image:hover{
    width:  330px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(78, 78, 129, 1);;
  }
  
  .main_btn{
    margin-bottom: 10px;
    padding: 8px 80px;
    border: 2px solid rgb(225, 190, 250);
    background-color: rgb(200,168, 217);
  }
  
  /* Footer */
 footer{
  margin: 0 auto;
  width: 100%;
 }
 .f1{
    margin: 0  auto;
    cursor: pointer;
    padding: 0 05px;
    letter-spacing: 3px;
    /* font-size: 40px !important; */
  }
  .f2{
    margin: 10px auto;
  }
  .f2 h1{
    margin-top: 10px;
    font-size: 18px;
    font-weight: 600;

  }

  .f3{
    margin: 10px auto;
  }
  .f3 input{
    padding: 12px 60px;

    border-radius: 10px;
    /* margin-left: 10px; */
  }
  .f3 button{
    background-color: yellow;
    border-radius: 5px;
    padding: 12px 38px;
    border-radius: 10px;
    margin: 10px auto;
  }
  
  .f12{
    font-size: 50px !important;
    font-weight: 700;
    margin-top: 0px;;
    margin: 0 auto;
  }
  .f12:hover{
    font-size: 40px;
    cursor: pointer;
    border-bottom: 5px solid rgb(255, 47, 0);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .container2{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
}
  div .h1{
    font-size: 38px !important;
    margin-top: 20px;
    font-weight: 400;
    /* margin-left: 05PX; */
    text-align: start;
  }
  div p{
    margin-top: 10px;
    width: 270px;
    font-size: 14px;
    font-weight: 500;
}
  
  .ff{
    padding: 0 20px;
    margin-top: -05px;
    font-size: 10px;
  }
  
  .ul{
    margin-top: 20px;
  
  }
  .ul li{
    list-style: none;
    line-height: 25px;
    font-size: 14px;
  }
  .ul li a{
    text-decoration: none;
    color: rgb(255, 249, 249);
  }
  .p{
    font-size: 14px;

  }

  .container3{
    justify-content: center;
    text-align: center;
    margin: 0 auto;
  }

  .copy_right{
    width: 260px;
    font-size: 8px;
    font-weight: bolder;
    margin: 0 auto;
  }
  .f_image{
    width: 270px;
    height: 110px;
  }

  /* ABOUT & CONTACT */

  .c_card{

    padding: 10px;
    width: 100%;
    height: 50%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 5px;
  }
  .c_h2{
    border-bottom: 2px solid rgb(0 0 0 / 0.2) ;
    letter-spacing: 1.5px;
    margin: 10px auto;
    text-align: center;
    /* background: black; */
  }
   .c_btn{
    padding: 8px 80px !important;
    background: #2b3e5e !important;
    margin: 0 auto;
  }
  .about_li a{
  text-decoration: none;
  color: #064f88;
  border-bottom: 2px solid #064f88 ;
}

}

/* 432 & 330 */
@media  screen and (max-device-width: 329px) and (min-device-width: 240px) {

  .cards{
    margin: 10px auto;
    text-align: center;
    width: 240px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    border-radius: 3px;
    margin: 0 auto;
  
  }
  .main_image{
    margin: 5px;
    width: 110px;
    height: 250px;
    margin: 10px auto;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);;
  
  }
  .main_image:hover{
    width:  100px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(78, 78, 129, 1);;
  }
  
  .main_btn{
    margin-bottom: 10px;
    padding: 8px 10px;
    border: 2px solid rgb(225, 190, 250);
    background-color: rgb(200,168, 217);
  }
  
  /* Footer */
 .f1{
    margin: 0  auto;
    cursor: pointer;
    padding: 0 05px;
    letter-spacing: 3px;
    /* font-size: 40px !important; */
  }
  
  .f2 h1{
    margin-top: 10px;
    font-size: 12px;
    font-weight: 700;
    /* margin-left: -50px; */
  }
  .f2,.f2s{
    /* margin-top: 70px; */
    margin-left: 10px;
    /* font-size: 0px !important; */
  }
  .f3{
    margin: 0 auto;
  }
  .f3 input{
    padding: 12px 20px;
    margin-top: 30px;
    border-radius: 10px;
    /* margin-left: 10px; */
  }
  .f3 button{
    margin-top: 10px;
    /* margin-left: 10px; */
    background-color: yellow;
    border-radius: 5px;
    padding: 12px 88px;
    border-radius: 10px;
  }
  
  .f12{
    font-size: 32px !important;
    font-weight: 700;
    margin-top: 0px;;
    margin: 0 auto;
  }
  .f12:hover{
    font-size: 40px;
    cursor: pointer;
    border-bottom: 5px solid rgb(255, 47, 0);
    margin-top: 30px;
    margin-bottom: 10px;
  }
  .container2{
  display: flex;
  /* justify-content: space-around; */
  flex-direction: column;
}
  div .h1{
    font-size: 36px !important;
    margin-top: 20px;
    font-weight: 400;
    /* margin-left: 05PX; */
    text-align: start;
  }
  div p{
    margin-top: 10px;
    width: 250px;
    font-size: 9px;
    font-weight: 600;
}
  
  .ff{
    padding: 0 20px;
    margin-top: -05px;
    font-size: 8px;
  }
  
  .ul{
    margin-top: 20px;
  
  }
  .ul li{
    list-style: none;
    line-height: 25px;
    font-size: 8px;
    font-weight: 500;
  }
  .ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
  }
  .p{
    font-size: 8px;
    margin-right: 10px;

  }

  .container3{
    justify-content: center;
    text-align: center;
  }

  .copy_right{
    width: 220px;
    font-size: 9px;
    font-weight: 900;
    margin: 0 auto;
    /* letter-spacing: 0.5px; */
  }
  .f_image{
    width: 180px;
    height: 110px;
  }
  
  
}
